{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
</head>
<div class="container">
    <div class="home-page">
        <div class="left-side">
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/kFjETSa9N7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="profile-tag">
                    <div class=" profile-img">
                        <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                    </div>
                    <div><p>Tomi_mi</p></div>
                </div>
                <div class="profile-post-img">
                    <img src="https://images.unsplash.com/photo-1685747830471-aa5869d624f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/>
                </div>
                <div >
                    <div class="profile-reaction">
                        <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                        <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                        <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                    </div>
                    <div class="comments">
                        
                        <div class="open-comments">
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                                </div>
                                <div><p>Nice😂</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!</p></div>
                            </div>
                            <div class="user-comment comment">
                                <div class="profile-img comments-profile-img">
                                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                                </div>
                                <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="send-comment">
                        <form method="post" action="." class="send">
                            {% csrf_token %}
                            <input type="text" placeholder="comment..." class="message"/>
                            <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                        </form>
                    </div>
                </div> 
                {% comment %} ######################3 {% endcomment %}
                {% comment %} all comments  {% endcomment %}  
                <div class="comments-display">
                    <div>
                        <h3>Comments</h3>
                        </br>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                        <div class="user-comment all-comments">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        </div>
                    </div>
                </div>
            </div>

            </br>
            
            <div class="load-btn">LOAD MORE..</div>
        </div>
        

        <div class="right-side">
            <div class="right-side-title">
                <h3>User's You Can Follow</h3>
                <span><a>refresh</a></span>
            </div> 
            <div class="right-side-content">
                <div class="nav-img suggest-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                <div class="suggest-user-details">
                    <p>Tomi_mi</p>
                    <p>320k followers</p>
                </div>
                <div>
                    <a href="#" class="links recommend-follow-btn">Follow</a>
                </div>
            </div> 
        </div>
        
    </div>
    
</div>

<script src="{% static 'core/index.js' %}"></script>

{% endblock content %}