{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
</head>
<div class="container">
    <div class="home-page">
        <div class="left-side">
            <div class="profile-tag">
                <div class=" profile-img">
                    <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                </div>
                <div><p>Tomi_mi</p></div>
            </div>
            <div class="profile-post-img">
                <img src="https://images.unsplash.com/photo-1685703204758-c37561dff8d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80z" alt="img"/>
            </div>
            <div >
                <div class="profile-reaction">
                    <a href="#"><img src="{% static 'assets/like.png' %}" alt="img" id="like"></img></a>
                    <a href="#"><img src="{% static 'assets/comment.png' %}"  alt="img" id="comment"></img></a>
                    <a href="#"><img src="{% static 'assets/save.png' %}" alt="img" id="share"></img></a>

                </div>
                <div class="comments">
                    <div>
                        <div class="profile-tag">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                            </div>
                            <div><p>Nice😂</p></div>
                        </div>
                        <div class="profile-tag">
                            <div class="profile-img comments-profile-img">
                                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685435853901-6929169b6bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=394&q=80" alt="img"/></div>
                            </div>
                            <div><p>wow!</p></div>
                        </div>
                    </div>
                </div>
                <div class="send-comment">
                    <form method="post" action="." class="send">
                        {% csrf_token %}
                        <input type="text" placeholder="comment..." class="message"/>
                        <button type="submit" class="send-btn"><img id="send-btn" src="{% static 'assets/send.png' %}" alt="send"/></button>
                    </form>
                </div>
            </div> 
        </div>
        <div class="right-side">
            <div class="right-side-title">
                <h3>User's You Can Follow</h3>
                <span><a>refresh</a></span>
            </div> 
            <div class="right-side-content">
                <div class="nav-img"><img src="https://images.unsplash.com/photo-1685703206477-aa1df00a1f0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="img"/></div>
                <div>
                    <p>Tomi_mi</p>
                    <p>320k followers</p>
                </div>
                <div>
                    <a href="#" class="links recommend-follow-btn">Follow</a>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}