<html>
<head>
    <title>Settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/setting.css' %}">
</head>
<body>
    <div class="settings">
        <div>
            <h2 class="settings-title">Account Settings</h2>
            <button><a href="{% url 'core:home' %}">Home</a></button>
        </div>
        <p class="settings-user">user: <strong>{{user}}</strong></p>
        <form action="" method='post' class="settings-form">
            {% csrf_token %}
            <label class="profile-img">Profile Picture</label>
            <input type="file" name="image"/> </br></br>
            <label>Bio</label></br>
            <textarea placeholder="About yourself..." name="bio"></textarea></br>
            <label>Location</label></br>
            <input type="text"  name="location"/></br></br>
            <div class="btn">
                <button><a href=".">Cancel</a></button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div> 
</body>
</html>




