.container{
    background-color: gray;
    padding: 30px 20px;
    height: 100vh;
}
.home-page{
    /* border: 2px solid blue; */
    /* background-color: wheat; */
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left-side{
    border: 2px solid blue;
    border-radius: 15px;
    flex: .5;
    background-color: whitesmoke;


}
.right-side{
    border: 2px solid green;
    border-radius: 15px;
    max-height: 50%;
    flex: .4;
    padding: 10px;
    background-color: whitesmoke;
    max-height: 50vh;

}
.profile-tag{
    display: flex;
    align-items: center;
    /* border: 2px solid pink; */
    padding: 7px;
    /* background: wheat; */
}
.profile-img{
    flex: .2;
}
.profile-post-img{
    /* border: 2px solid pink; */
    height: 350px;
    /* width: 700px; */
}
.profile-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-reaction{
    border-bottom: 2px solid gray;
    padding: 3px 15px;
    position: relative;
}
#like{
    /* border: 2px solid rgb(0, 255, 34); */
    height: 30px;    
}
#comment{
    /* border: 2px solid rgb(0, 255, 34); */
    height: 30px;    
    margin-left: 10px;
}
#share{
    /* border: 2px solid rgb(0, 255, 34); */
    height: 30px;  
    position: absolute;
    right: 10px;

}
.comments-profile-img{
    flex: .13;
}
.comments-profile-img .nav-img{
    height: 40px;
    width: 40px;
}
.send-comment{
    /* border: 2px solid rgb(240, 7, 7); */
    padding: 5px;
}
.send input{
    font-size: 20px;
    padding: 20px;
}
.send{
    border: 2px solid rgb(184, 175, 175);
    display: flex;
    border-radius: 13px;
    overflow: hidden;
    
}
.message{
    flex: .9;
}
.send-btn{
    flex: .1;
    padding: 5px;
    text-align: right;
    cursor: pointer;
}

/* .right-side */
.right-side-title{
    /* border-bottom: 2px solid black; */
    /* border-bottom: 2px solid rgb(170, 170, 170); */
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(228, 227, 227);
}
.right-side-content{
    border-bottom: 2px solid rgb(170, 170, 170);
    padding: 5px 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recommend-follow-btn{
    border: 1px solid black;
    padding: 5px 10px;
}