*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---navbar-image-click-popup-functionality----- */
.navbar-img-click-options{
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 20px;
    position: absolute;
    display: block;
    top: 99%;
    right: 2%;
    z-index: 2;
    display: none;
}
.navbar-img-click-options li{
    list-style: none;
    /* border: 2px solid red; */
    margin-bottom: 10px;
    padding: 5px 15px;
}
.navbar-img-click-options li:hover{
    background-color: white;
}
.nav-img-click{
    cursor: pointer;
}
/* posts --------------------- */
.caption{
    height: 100px;
    width: 100%;
    padding: 10px;
}
.upload-click-options{
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    display: block;
    top: 99%;
    right: 10%;
    z-index: 2;
    display: none;

}
.post-img{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    margin: 5px 0;
    margin-bottom: 12px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.post-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-div{
    border: 2px solid black;
    width: 70%;
    margin: auto;
    text-align: center;
}


/* ---base-css normal-code */
.navbar{
    border-bottom: 2px solid rgb(196, 196, 196);
    /* padding: 20px; */
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-left input{
    padding: 10px;
}
.nav-right{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
}
.nav-right li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
.nav-center{
    border: 2px solid palevioletred;
    margin-top: -50px;
}
.links{
    text-decoration: none;
    color: black;
}
.links i{
    display: block;
    color: black;
    font-size: 30px;
}
.nav-img{
    height: 60px;
    width: 60px;
    border: 2px solid black;
    /* position: absolute; */
    border-radius: 50%;
    overflow: hidden;
}
.nav-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.upload-btn{
    padding: 10px;
    background-color: black;
    color: antiquewhite;
    /* display: inline-block; */
    cursor: pointer;
}
.upload-btn input[type="file"] {
    display: none;
}
.nav-icons{
    height: 30px;
}
