<html>
    <head>
        <title>LogIn | bonga</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'auth/authforms.css' %}">
    </head>
<body>
    <nav class="navbar-auth">
        <h3><a href="#" class="nav-auth-logo">bonga</a></h3>
        <a href="#" class="nav-auth-btn">Signup</a>
    </nav>
    
    <h1 class="nav-title">Login</h1>
    <form action="." method="post" class="auth-form-form">
        {% csrf_token %}
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button>Register</button>
    </form>
    
    
    <div class="animation">
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>

    </div>
</body>
</html>