<html>
    <head>
        <title>LogIn | bonga</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'auth/authforms.css' %}">
    </head>
<body>
    <nav class="navbar-auth">
        <h3><a href="{% url 'core:home' %}" class="nav-auth-logo">bonga</a></h3>
        <a href="{% url 'core:signup' %}" class="nav-auth-btn">Signup</a>
    </nav>
    
    <div>
        <style>
            p{
                color: red;
            }
        </style>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>


    <h1 class="nav-title">Login</h1>
    <form action="" method="post" class="auth-form-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button>Register</button>
    </form>
    
</body>
</html>