<html>
    <head>
        <title>Signup | bonga</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'auth/authforms.css' %}">
    </head>
<body>
    <nav class="navbar-auth">
        <h3><a href="{% url 'core:home' %}" class="nav-auth-logo">bonga</a></h3>
        <a href="{% url 'core:login' %}" class="nav-auth-btn">Login</a>
    </nav>

    <div>
        <style>
            p{
                color: red;
            }
        </style>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
    
    <h1 class="nav-title">Signup</h1>
    <form action="" method="post" class="auth-form-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"/>
        <input type="email" name="email" placeholder="Email Address"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="password" name="password2" placeholder="Confirm Password"/>
        {% comment %} <div class="terms"><input type="checkbox" /><span> I Agree Terms & Conditions </span></div> {% endcomment %}
        </br>
        <button>Register</button>
    </form>

    
    
    
    {% comment %} <div class="animation">
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>
        <img src="{% static 'assets/bubble.png' %}" alt="img"/>

    </div> {% endcomment %}
</body>
</html>